@model IEnumerable<Exercise1.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (!Model.Any())
{
    <p> we don't have any movies yet </p>
}
else
{
    <!-- added id to table -->
    <table id="movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <!-- test2.3 -->
                <th>Genre</th>
                <!-- ep75 pt2 -->
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <!-- test2.3 -->
                    <!-- <td>@*Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)*@</td> -->
                    <!-- test3 -->
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                    <!-- Original -->
                    <!-- td>@*movie.Name*@</!--td> --> <!-- test3 -->
                    <!-- test2.3 -->
                    <td>@movie.Genre.Name</td>
                    <!-- ep75 pt2 -->
                    <td>
                        <button data-movie-id="@movie.Id" class="btn-outline-light js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<!-- test3 pt2 -->
<a href="@Url.Action("New","Movies")" class="btn btn-primary">New</a>

<!-- ep75 pt2 -->
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-delete").on("click", function (e) {
                var button = $(this);
                if (confirm("Are you sure you want to delete this movie?")) {
                    $.ajax({
                        url: "/api/movies/" + button.attr("data-movie-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                            // console.log("Success");
                        }
                    });
                }
            });
        });
    </script>
}